.git
.gitignore

__pycache__
*.py[cod]
*.pyo
*.pyd

.pytest_cache
.mypy_cache
.ruff_cache

.venv
venv
env

.ipynb_checkpoints
notebooks

mlruns
logs
reports

data/processed
data/interim

*.log

.DS_Store

dist
build
*.egg-info