# Application
HISTORY_CSV=data/raw/data.csv
CONFIG_PATH=configs/config.yaml
MODEL_REGISTRY_PATH=configs/model_registry.yaml

# DagsHub
DAGSHUB_USERNAME=Himanshu-Verma-ds
DAGSHUB_REPO=demand-forecasting-assignment
DAGSHUB_TOKEN=PASTE_YOUR_TOKEN_HERE

# MLflow
MLFLOW_TRACKING_URI=https://dagshub.com/Himanshu-Verma-ds/demand-forecasting-assignment.mlflow
MLFLOW_TRACKING_USERNAME=Himanshu-Verma-ds
MLFLOW_TRACKING_PASSWORD=PASTE_YOUR_TOKEN_HERE